<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A way to send secret information securely." />

    <title>Secret's Safe</title>

    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <!-- reset the styles -->
    <link rel="stylesheet" href="/reset.css" />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
    <!-- Import fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet"> 

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <header>
  <div class="container row">
    <button class="nav-toggle" aria-label="open navigation">
      <span class="hamburger"></span>
    </button>
    <a href="https://secrets-safe.glitch.me/" class="logo">SECRET'S <svg class="logo-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M19 11H5C3.89543 11 3 11.8954 3 13V20C3 21.1046 3.89543 22 5 22H19C20.1046 22 21 21.1046 21 20V13C21 11.8954 20.1046 11 19 11Z" stroke="#FE8A01" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M7 11V7C7 5.67392 7.52678 4.40215 8.46447 3.46447C9.40215 2.52678 10.6739 2 12 2C13.3261 2 14.5979 2.52678 15.5355 3.46447C16.4732 4.40215 17 5.67392 17 7V11" stroke="#FE8A01" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
      SAFE</a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="/contact" class="nav__link">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>

<main class="container">
  <h1>Send and receive information securely.</h1>
  <p>Don’t expose secrets on chat rooms or in emails. Generate a secure link which can be used once to view a secret.</p>
  <form action="" class="container form">
    <label for="secret">Secret</label>
    <input name="secret" class="input" id="secret-input" type="text" placeholder="Enter your secret here." required autocomplete="off"/>
    <label for="expiry">Days until expiry</label>
    <input name="expiry" class="input" id="days-input" type="number" min="1" max="7" placeholder="Days until link expires."/>
    <button class="btn">
      <span>CREATE LINK</span>
    </button>
  </form>
</main>
    <footer>
      <div class="text-container">
      Made by <a href="https://twitter.com/JohnDunnDev" target="_blank" rel="noopener">John Dunn</a> with
      <a href="https://glitch.com">Glitch</a>!
      </div>
    </footer>
    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <!-- <div class="glitchButton" style="position:sticky;bottom:2em;left:20px;"></div> -->
    <!-- <script src="https://button.glitch.me/button.js" defer></script> -->
  </body>
</html>
